.footer {
    background-color: $bg-footer;
    padding: 60px 0;
}

.adress {
    text-decoration: none;
    font-weight: $font-weight-contacts;
    font-size: 14px;
    line-height: 1.7;
    color: $bg-primary-color;
}

.adress-footer {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}

.logo-footer {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    margin-bottom: 20px;
}

.all-contacts {
    display: flex;
    flex-direction: column;
    padding-left: 0;

    .link {
    color: rgba(255, 255, 255, 0.6);
    font-weight: $font-weight-contacts;
    font-size: 14px;
    line-height: calc(24/14);
        }
}

.footer-contacts .link {
    color: rgba(255, 255, 255, 0.6);
    font-weight: $font-weight-contacts;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item {
    margin-bottom: 9px;
}

.adress {
    font-style: normal;
    .all-contacts {
    text-align: inherit;
        }
}

.footer-general {
    display: flex;
    align-items: baseline;
}

.social-footer {
    margin-left: 70px;
    .social-link {
    background-color: rgba(255, 255, 255, 0.1);
        }
    .icon {
    fill: currentColor
        }
    .social-icons {
    margin: 0;
        }

}

.social-link-footer {
    color: $primary-white-color
}


.footer-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-transform: uppercase;
    color: $bg-primary-color;
}

.social-icons {
    display: flex;
}

.social-icon-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-contacts .address {
    color: $secondary-white-color;

}

.footer-contacts .link:hover,
.footer-contacts .link:focus {
    color: $accent-color;
}

.footer-contacts .item:not(:last-child) {
    margin-bottom: 9px;
}



.subscribe {
    margin-left: auto;
}

.form-footer {
    display: flex;
    align-items: flex-end;
}

.form-footer input {
    width: 358px;
    height: 50px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 16px;
    outline: 0;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer input::placeholder {
    font-size: 16px;
    line-height: calc(20/16);
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.mail-holder {
    color: $bg-primary-color;

}

.mail-holder:hover,
.mail-holder:focus {
    border-color: $accent-color;
}

.subscribe-button {
    background-color: $accent-color;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.06em;
    color: $bg-primary-color;
    box-shadow: 0;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    border-color: transparent;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: $accent-color;
    cursor: pointer;
}

.submit-icon {
    fill: $bg-primary-color;
    margin-left: 10px;
}



