.footer {
    background-color: $bg-footer;
    padding: 60px 0;
}
  
.adress {
    text-decoration: none;
    font-weight: $font-weight-contacts;
    font-size: 14px;
    line-height: 1.7;
    color: $bg-primary-color;
}

.adress-footer {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}

.logo-footer {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    margin-bottom: 20px;
    font-size: 24px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 20;
}

.all-contacts {
    // display: flex;
    // flex-direction: column;
    padding-left: 0;

    .link {
        display: block;
        font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    font-weight: $font-weight-contacts;
    font-size: 14px;
    line-height: calc(24/14);
        }
}

.footer-contacts .link {
    color: rgba(255, 255, 255, 0.6);
    font-weight: $font-weight-contacts;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item {
    margin-bottom: 9px;
}

.adress {
    font-style: normal;
    .all-contacts {
    text-align: inherit;
        }
}

.footer .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: $tablet) {
            flex-wrap: wrap;
            flex-direction: row;
            align-items: baseline;
            align-items: flex-start;
    
        }
    @media screen and (min-width: 1200px) {
            flex-wrap: wrap;
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
            align-items: flex-start;

        }

}

.logo-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.address {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

// .footer-general {
//     padding-top: 60px;
//         padding-bottom: 60px;
//         border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    
//         text-align: center;
    
//         @media screen and (min-width: $tablet) {
//             display: flex;
//             flex-wrap: wrap;
            
//         }
    
//         @media screen and (min-width: $desktop) {
//             // justify-content: space-between;
            
//             flex-wrap: nowrap;
//         }
//     }


.logo-address {
    @media screen and (max-width: 1199px) {
            margin-bottom: 60px;
        }
}

.social-footer {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    @media screen and (min-width: 768px) {
            margin-bottom: 60px;
            margin-left: 165px;
            align-items: flex-start;
        }
    @media screen and (min-width: 1200px) {
            margin: 0;
            align-items: flex-start;
        }
                }
    
    .social-link {
    background-color: rgba(255, 255, 255, 0.1);
        }
    .icon {
    fill: currentColor
        }
    .social-icons {
    margin: 0;
        }



.social-link-footer {
    color: $primary-white-color
}


.footer-title {
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16/14);
    text-transform: uppercase;
    color: $bg-primary-color;

    @media screen and (min-width: $desktop) {
            font-weight: 700;
        }
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.social-icon-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-contacts .address {
    color: $secondary-white-color;

}

.footer-contacts .link:hover,
.footer-contacts .link:focus {
    color: $accent-color;
}

.footer-contacts .item:not(:last-child) {
    margin-bottom: 9px;
}



.subscribe {
   
    
    @media screen and (min-width: $desktop) {
            display: flex;
        }
}

.form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
@media screen and (min-width: $tablet) {
        margin: 0 auto;
        align-items: flex-start;
    }
    
    @media screen and (min-width: $desktop) {
        margin: 0;
        align-items: flex-start;
        }
}

.form-footer input {
    max-width: 358px;
    width: 100%;
    margin-bottom: 20px;    
    height: 50px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 16px;
    outline: 0;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: $desktop) {
            margin-bottom: 0;
        }
}

.form-footer input::placeholder {
    font-size: 16px;
    line-height: calc(20/16);
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.mail-holder {
    color: $bg-primary-color;
    @media screen and (min-width: $tablet) {
            width: 358px;
        }
    
        @media screen and (min-width: $desktop) {
            margin-bottom: 0;
        }

}

.mail-holder:hover,
.mail-holder:focus {
    border-color: $accent-color;
}

.subscribe-button {
    padding-left: 28px;
        padding-right: 28px;
    background-color: $accent-color;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(30/16);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.06em;
    color: $bg-primary-color;
    box-shadow: 0;
    border-radius: 4px;
    width: 200px;
    height: 50px;
 
    border-color: transparent;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
}

.subscribe-button:hover,
.subscribe-button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: $accent-color;
    cursor: pointer;
}

.submit-icon {
    fill: $bg-primary-color;
    margin-left: 10px;
}



