.page-header {
    min-width: 60px;
    margin-bottom: 0px;
    background-color: $bg-primary-color;
    border-bottom: 1px solid #ececec;

    @media screen and (min-width: $tablet) {
            height: 80px;
            display: flex;
        }
       
    }

    .page-header .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        position: relative;    
        @media screen and (min-width: $tablet) {
            height: 80px;
    }
    
    }

.navigation {
    display: flex;
    align-items: center;
    .menu__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
        }
}
.web {
    color: #2196F3;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
        margin-right: 81px;
        padding-top: 26px;
        padding-bottom: 26px;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        justify-content: space-between;
        min-width: 148px;

        font-size: 26px;
        line-height: 1.19;
        margin-right: 85px;
        padding-top: 24px;
        padding-bottom: 25px;
    }
}

.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    fill: $primary-color;

    @media screen and (min-width: $tablet) {
        display: none;
    }

    & .close {
        display: none;
    }

    &.is-open .close {
        display: block;
    }

    &.is-open .open {
        display: none;
    }

    &:hover,
    &:focus {
        fill: $accent-color;
    }


}



.menu__link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: $title-text-color;

    @media screen and (min-width: $tablet) {
        font-size: 14px;
        position: relative;
        padding-top: 33px;
        padding-bottom: 33px;
    }

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.header-tel .phone {
    fill: currentColor;
}

.active {
    color: $accent-color
}


.header-tel,
.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.menu {
    display: flex;
    align-items: center;
    margin-right: 255px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    .menu__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .current {
    color: $accent-color;
    }

    .menu__link:hover,
    .menu__link:focus {
        color: $accent-color;
    }

    .menu__link::after {
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 8px;
    background-color: $accent-color;
    border-radius: 2px;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: $tablet) {
    position: absolute;
    }

    }
    .menu__item:not(:first-child) {
    margin-left: 50px;
    align-items: center;
    }
    .menu__link.current::after {
    opacity: 1;
    }

}

.navigate-menu{
    @media screen and (max-width: 767px) {
            background-color: $white-color;
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
    
            text-align: center;
            padding-top: 60px;
            padding-bottom: 60px;
    
            &.is-open {
                display: block;
                z-index: 2;
            }
        }
    
        @media screen and (min-width: $tablet) {
            display: flex;
            height: 100%;
        }
    
        @media screen and (min-width: $desktop) {
            justify-content: space-between;
        }
}

.navigate-menu .menu{
    @media screen and (max-width: 767px) {
    margin-bottom: 60px;
    
    & .item:not(:last-child) {
    margin-bottom: 40px;
    }
    }
    
        @media screen and (min-width: $tablet) {
            display: flex;
        }
}

.menu__item:not(:last-child){
    @media screen and (min-width: $tablet) {
    margin-right: 50px;
        }
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;

    @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 84px;
    padding-top: 21px;
    padding-bottom: 21px;
    }
    
    @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
    margin-left: 305px;
    padding-top: 32px;
    padding-bottom: 32px;
    }

    

    .link:hover,
    .link:focus {
    color: $accent-color;
        }

    .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
        }
}

.contacts .link {
    @media screen and (min-width: $tablet) {
    font-size: 12px;
    display: flex;
    align-items: center;
    }
    
    @media screen and (min-width: $desktop) {
    font-size: 14px;
    }
}

.contacts__item+.contacts__item {
    // margin-left: 50px;
    margin-top: 16px;
    
    @media screen and (min-width: $tablet) {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 0px;
    }
    
    @media screen and (min-width: $desktop) {
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
    }


}

.contacts__item:not(:first-child) {
    padding-left: 50px;
}

.header-tel {
    margin-left: 50px;
}

.phone {
    fill: currentColor;
    margin-right: 8px;
    vertical-align: middle;
    @media screen and (min-width: $desktop) {
    margin-right: 10px;
        }
}

