.web {
    color: #2196F3;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;
}

.menu__link {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: $title-text-color;

    &:hover,
    &:focus {
    color: $accent-color;
        }
}

.header-tel .phone {
    fill: currentColor;
}

.active {
    color: $accent-color
}


.header-tel,
.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.page-header {
    background-color: $bg-primary-color;
    border-bottom: 1px solid #ececec;

    @media screen and (min-width: $tablet) {
            height: 80px;
            display: flex;
        }

        
    }

    .page-header .container {
    display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        position: relative;    
        @media screen and (min-width: $tablet) {
            height: 80px;
    }
    
    }


    .logo {
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            width: 100%;
            margin-right: 81px;
            padding-top: 26px;
            padding-bottom: 26px;
        }
    
        @media screen and (min-width: $desktop) {
            display: flex;
            justify-content: space-between;
            min-width: 148px;
    
            font-size: 26px;
            line-height: 1.19;
            margin-right: 85px;
            padding-top: 24px;
            padding-bottom: 25px;
        }
    }
                




.navigation {
    display: flex;
    align-items: center;
    .menu__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
        }
}

.menu {
    display: flex;
    align-items: center;
    margin-right: 255px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    .menu__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .current {
    color: $accent-color;
    }

    .menu__link:hover,
    .menu__link:focus {
        color: $accent-color;
    }

    .menu__link::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: $accent-color;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }
    .menu__item:not(:first-child) {
    margin-left: 50px;
    align-items: center;
    }
    .menu__link.current::after {
    opacity: 1;
    }

}

.contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;

    .link:hover,
    .link:focus {
    color: $accent-color;
        }

    .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
        }
}

.contacts__item+.contacts__item {
    margin-left: 50px;
}

.contacts__item:not(:first-child) {
    padding-left: 50px;
}

.header-tel {
    margin-left: 50px;
}

.phone {
    fill: currentColor;
    margin-right: 10px;
    vertical-align: middle;
}

