.menu-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    transform: translateX(100%);
    z-index: 99;
    background-color:$bg-primary-color;
    &.is-open{
        transform: translateX(0);
    }
    @media screen and (min-width:767px){
        display: none;
    }
}
 .menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background-color: transparent;
    &:hover svg,
    &:focus svg{
        fill: $accent-color;

    }
        @media screen and (min-width:768px) {
            display:none;
        }
 }

.close__svg{
    transition: fill 250ms ease-in-out;
}
.burger{
    border: none;
    background: transparent;
    .is-open .burger__menu{
        display: none;
    }
        @media screen and (min-width:768px) {
            display: none;
        }
}
 
.nav{
   
    &__link{
        font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color: $title-text-color;
        &:hover,
        &:focus {
            color: $accent-color;
        }
    }
    &__item:not(:last-child){
        margin-bottom: 30px;
    }
}

.nav__item .current {
    color: $accent-color;
}

.mobile-contacts {
   
    margin-bottom: 64px;
    &__item:first-child{
        margin-bottom: 32px;
    }
    &__mail,
    &__tel{
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: $title-text-color;
        &:hover,
        &:focus {
        color: $accent-color;
        }
    }

}

.menu-social{
    display: flex;
    flex-wrap: wrap;
    &__item{
        padding-left: 10px;
        padding-right: 10px;
    
    &:first-child{
        padding-left: 0;
    }
    &:last-child{
        padding-right: 0;
    }
    &:not(:last-child){
        border-right: 1px solid $title-text-color;
    }
    }
    &__link{
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: $accent-color;
    }
}
.contacts-wrapper{
    margin-top: auto;
}

.nav__link{
    
            display: block;
            margin: 10px;
            color: $primary-text-color;
            text-decoration: none;
            font-weight: 500;
            font-size: 40px;
            line-height: calc(47 / 40);
            letter-spacing: 0.02em;
        }

            .menu-social {
                    display: flex;
                    gap: 20px;
                    justify-content: space-between;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: calc(22 / 18);
                    letter-spacing: 0.02em;
        
                }
        
                .menu-social__link {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: calc(22 / 18);
                    letter-spacing: 0.02em;
                    color: $accent-color;
        
                }
        
                .menu-social__item:not(:last-child) {
                    padding-right: 10px;
                    border-right: 1px solid rgba(33, 33, 33, 0.2);
                }
        
                .menu-social__item:not(:first-child) {
                    padding-left: 10px;
                }
        
                .mobile-contacts__tel {
                    display: block;
                    font-weight: 500;
                    font-size: 34px;
                    line-height: 1.18;
                    letter-spacing: 0.02em;
                    color: $accent-color;
                    margin-bottom: 32px;
                }
        
                .mobile-contacts__mail {
                    display: block;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 1.17;
                    letter-spacing: 0.02em;
                    color: $secondary-text-color;
                    margin-bottom: 64px;
                }









