.menu-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    transform: translateX(100%);
    z-index: 99;
    background-color:$bg-primary-color;
    &.is-open{
        transform: translateX(0);
    }
    @media screen and (min-width:767px){
        display: none;
    }
}
 .menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background-color: transparent;
    &:hover svg,
    &:focus svg{
        fill: $accent-color;

    }
        @media screen and (min-width:768px) {
            display:none;
        }
 }

.close__svg{
    transition: fill 250ms ease-in-out;
}
.burger{
    border: none;
    background: transparent;
    .is-open .burger__menu{
        display: none;
    }
        @media screen and (min-width:768px) {
            display: none;
        }
}
 
.nav{
   
    &__link{
        font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color: $title-text-color;
        &:hover,
        &:focus {
            color: $accent-color;
        }
    }
    &__item:not(:last-child){
        margin-bottom: 30px;
    }
}

.mobile-contacts {
    margin-bottom: 64px;
    &__item:first-child{
        margin-bottom: 32px;
    }
    &__mail,
    &__tel{
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: $title-text-color;
        &:hover,
        &:focus {
        color: $accent-color;
        }
    }

}

.menu-social{
    display: flex;
    flex-wrap: wrap;
    &__item{
        padding-left: 10px;
        padding-right: 10px;
    
    &:first-child{
        padding-left: 0;
    }
    &:last-child{
        padding-right: 0;
    }
    &:not(:last-child){
        border-right: 1px solid $title-text-color;
    }
    }
    &__link{
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: $accent-color;
    }
}
.contacts-wrapper{
    margin-top: auto;
}









