.padding {
   
    @media screen and (max-width: 1199px){
    padding-top: 60px;
    }
    
}


.feature {
  
    @media screen and (min-width: $tablet){
    display: flex;
    flex-wrap: wrap;
    }
    @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
    }
   
    .item-icon {
    fill: var(--social-color);
    }
    .item:not(:first-child) {
    margin-left: 30px;
    }
}


.feature .item{
    &:not(:last-child) {
margin-bottom: 30px;
}

@media screen and (min-width: $tablet) and (max-width: 1199px) {
width: calc((100% - 2 * 30px) / 2);
margin-right: 30px;
margin-bottom: 30px;
&:nth-child(2n) {
margin-right: 0;
}
&:nth-last-child(-n + 2) {
margin-bottom: 0;
}
}
@media screen and (min-width: $desktop) {
width: calc((100% - 3 * 30px) / 4);
margin-right: 30px;

&:nth-child(4n) {
margin-right: 0;
}
}
}
.item-icon{
    padding: 25px 100px 25px 100px;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--bg-color-secondary);

}

.feature__thumb {
    background-color: $primary-white-color;
    margin-bottom: 30px;
    align-items: center;
    width: 270px;
    height: 120px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    border-radius: 4px;
}

.feature__title{
    font-size: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 10px;
    
        // @media screen and (max-width: 767px) {
        //     text-align: center;
        // }
}

.feature__title,
.name,
.services {
    font-size: 14px;
    line-height: 1.2;
    color: $title-text-color;
}

.text,
.position,
.types {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}

.title-staff,
.title-cliens {
    text-align: center;
}


.title-staff,
.title-clients {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.blok-gallery {
    padding-top: 0;
    padding-bottom: 90px;
    background-color: $bg-primary-color;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 0;
    padding-left: 0;

    .gallery__photo {
        position: relative;
        width: 370px;
        margin-right: 30px;
    }

    .gallery__photo:nth-child(3n) {
        margin-right: 0;
    }
}

.gallery-container {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
}

.work {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;

    position: absolute;
    bottom: 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $bg-primary-color;
    background: rgba(47, 48, 58, 0.8);
}
