h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}


.page-body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.link {
    text-decoration: none;
}


.container {
    max-width: 480px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

        @media screen and (min-width: $tablet) {
        max-width: 768px;
        }
    
        @media screen and (min-width: $desktop) {
        max-width: 1200px;
        }
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;

    @media screen and (max-width: 1199px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

